---
title: "316 Energy Shaping Nonlinear Acceleration Control for a Mobile Inverted Pendulum Utilizing Instability and Experimental Verification"
date: 2017-06-21 00:00:00 +0100
permalink: 316-energy-shaping-nonlinear-acceleration-control-for-a-mobile-inverted-pendulum-utilizing-instability-and-experimental-verification
year: 2011
authors: Kazuto YOKOYAMA, Masaki TAKAHASHI
category: articles
---
 
## Authors
[Kazuto YOKOYAMA](authors/kazuto-yokoyama), [Masaki TAKAHASHI](authors/masaki-takahashi)
 
## Abstract
No  available
 
## Citation
- **Journal:** The Proceedings of the Dynamics &amp; Design Conference
- **Year:** 2011
- **Volume:** 2011
- **Issue:** 0
- **Pages:** _316--1_--_316--10_
- **Publisher:** Japan Society of Mechanical Engineers
- **DOI:** [10.1299/jsmedmc.2011._316-1_](https://doi.org/10.1299/jsmedmc.2011._316-1_)
 
## BibTeX
{% highlight bibtex %}
{% raw %}
@article{YOKOYAMA_2011,
  title={{316 Energy Shaping Nonlinear Acceleration Control for a Mobile Inverted Pendulum Utilizing Instability and Experimental Verification}},
  volume={2011},
  ISSN={2424-2993},
  DOI={10.1299/jsmedmc.2011._316-1_},
  number={0},
  journal={The Proceedings of the Dynamics &amp; Design Conference},
  publisher={Japan Society of Mechanical Engineers},
  author={YOKOYAMA, Kazuto and TAKAHASHI, Masaki},
  year={2011},
  pages={_316-1_-_316-10_}
}
{% endraw %}
{% endhighlight %}
 
[Download the bib file]({{ site.baseurl }}/assets/bib/316-energy-shaping-nonlinear-acceleration-control-for-a-mobile-inverted-pendulum-utilizing-instability-and-experimental-verification.bib)
 
