---
layout: page
---

  {%- if site.categories[page.category].size > 0 -%}
    {%- assign collection = site.categories[page.category] | group_by: 'year' %}
    {%- if collection and collection.size > 0 -%}
      <h3>There are {{ site.categories[page.category].size }} items referenced in this category.</h3>
      {%- assign yearsSorted = collection | sort: 'name' | reverse -%}
      <ul class="post-list">
        {%- for y in yearsSorted -%}
          <h3><i class="fa-solid fa-arrow-right" alt="Right arrow"></i> <strong>In {{ y.name }}</strong> ({{ y.items | size }} items)</h3>
          {%- assign posts_in_year = y.items | sort: 'date' | reverse -%}
          {%- for post in posts_in_year -%}
            <li>
              <span class="post-meta">{{ y.name }} -- {{ post.authors }}</span>
              <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>
              {%- if site.minima.show_excerpts -%}
                {{ post.excerpt }}
              {%- endif -%}
            </li>
          {%- endfor -%}
          <hr />
        {%- endfor -%}
      </ul>
    {%- endif -%}
  {%- endif -%}
  

